#div-content {
	border: 0.5px solid #aaa;
	padding: 0;
	margin: 3em 0;
	border-radius: 0.25em;
}

.week {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}

.nav-row {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	gap: 1.5em;
	justify-content: center;
	margin-bottom: 1rem;
}

.day {
	border: 0.5px solid #aaa;
	flex: 1;
	padding: 0.5em;

	background: #ffd451;
	padding: 0 0.5em;
	border-radius: 0.25em;
	color: #775a00;
}

.today {
	background: #f4bf1e;
}

.future {
	background: #ffe69c;;
}

.workout {
	background: #6eff51;
	padding: 0 0.5em;
	border-radius: 0.25em;
	color: #3a7700;
	margin-bottom: 0.25em;
}

.day::before {
	content: '';
	float: left;
	padding-top: 100%;
}

.other {
	background: #00000020;
}